.movies-list {
  /* border: 1px solid black; */
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.select {
  border: 1px solid black;
  width: 200px;
  font-size: 32px;
  height: 40px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: teal;
}
